<!DOCTYPE html>

<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <h1>Domnyus Node.JS</h1>
    <p>User</p>
    <div>
        <form action="">
            <input type="text" name="title" id="">
            <input type="text" name="content" id="">
            <input type="submit" value="Send">
        </form>
    </div>
    <%- include("./partials/footer.ejs") %>
</body>

</html>