<!DOCTYPE html>

<html lang="en">

<%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <h1>Domnyus Node.JS</h1>
    <p>User</p>
    <%- include("./partials/footer.ejs") %>
</body>

</html>